/**/
.opHeader > div  {
  padding: 10px 0;
  font-weight: bold;
}
.customerData  {
  line-height: 1.5rem;
  font-size: .8rem;
  padding: 5px 0 20px 0;
}

.customerData textarea  {
  display: block;
  margin-bottom: 10px;
  outline: 1px solid #ccc;
  width: 100%;
}



.opGrid {
  /*display: flex;*/
}
.opHeader, .customerData {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #000;
}
.opHeader > div, .customerData > div {
  flex: 1;
  padding-right: 10px;
}
.customerData > div:last-child {
  padding-right: 0;
}

.recentPurchases  {
  display: flex;
}
.recentPurchases .row {
  border-bottom: 1px solid #000;
}

/* Purchases in list:*/
.recentPurchases > .row > div:first-child {
  flex-grow: 3;
}
/* purchase checkboxes: */
.recentPurchases > .row > div:last-child  {
  flex-grow: 1;
  text-align: right;
}

.summaryRow textarea  {
  width: 100%; 
}

/* Any tablet and up adjustments: */
@media only screen and (min-width: 600px) {
  .customerData  {
    font-size: 1rem;
  }
}