/* Global resets and sitewide styles only */

/* Color schemes, 5 to 7 steps:
Darkest
dark
mids
highlights

Prev checkin:
  --darkest-bg: #052B80; // header bg, text, hard lines
  --dark-bg:    #4285F4; // body 
  --midlight1:  #48BBF9; // buttons
  --midlight2:  #88C425;
  --highlight:  #F4FAD2; // content page background 
  --highlight2: #ffffff; // header text, button text
*/

/* Sitewide colors */
:root {
  --darkest-bg: #052B80; 
  --dark-bg:    #263DEF;
  --midlight1:  #48BBF9;
  --midlight2:  #3774E5;
  --midlight3:  #E3E3E3;
  --highlight:  #F7F7F7;
  --highlight2: #FFFFFF;
}

body  {
  background-color: var(--dark-bg);
}

#root {
  background-color: var(--highlight);
  color: var(--darkest-bg);
}

.App-header {
  background-color: var(--darkest-bg);
  color: var(--highlight2);
}

button  {
  background-color: var(--midlight1);
  color: var(--highlight2);
}
button:hover, button:active  {
  background-color: var(--darkest-bg);
}
input[type='number'], textarea  {
  border: 1px solid var(--darkest-bg);
}
/*  END Sitewide colors */


/* Global resets: */
html  {
  width: 100%;
}

html *  {
  position: relative;
}

body  {
  font-family: "Lato", arial, sans-serif;
  font-size: 1em;
  margin: 0 0 60px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul  {
  padding: 0;
  list-style: none;
}

th  {
  text-align: start;
}

a   {
  text-decoration: none;
}
/* END resets */


#root {
  border-radius: .25rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 10px 0;
}

#root > h2  {
  text-align: center;
}

/* Global flexbox styles -- .row and .column for children of flex containers */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
/* /Global flexbox styles */

/* Any tablet and up adjustments: */
@media only screen and (min-width: 600px) {
  body  {
    margin: 0 20px 60px 20px;
  }
}
