 /* Global resets and sitewide styles only */

/* Color schemes:
Darkest
mids
highlight

https://www.colourlovers.com/palette/3529601/WDI_103 - dark red to manila:
33191A
AB3334
DDA185
E8D1A5 (?)
FAE9C8

Burning Desire: https://www.colourlovers.com/palette/3915027/Burning_Desire
5F324B
654662
7E4D79
964B6A
E8638B

--> Halocline - https://www.colourlovers.com/palette/3572150/Halocline
06292D
02717A
008D9E
03BEE7
DDE39B

https://www.colourlovers.com/palette/3583115/Emergence looks good, basic blues

Wavy web:
https://www.colourlovers.com/palette/4667572/wavy_web
4285F4 - dk blue
48BBF9 - mid blue
88C425 - mid green
BEF202 - bright green
F4FAD2 - blanched manila with a green tint

Adding 052B80 as dark blue, and not using BEF202
*/
/*
Halocline
:root {
  --darkest-bg: #06292D; // header, hard lines
  --dark-bg: #02717A;    //text
  --midlight1: #008D9E;  // links
  --midlight2: #03BEE7;
  --highlight: #DDE39B; / /Really light - text on dark bgs
  --highlight2: #fff; 
}

*/

/* Wavy Web, modified: */
:root {
  --darkest-bg: #052B80; /* header bg, text, hard lines*/
  --dark-bg:    #4285F4; /* body */
  --midlight1:  #48BBF9; /*buttons*/
  --midlight2:  #88C425;
  --highlight:  #F4FAD2; /* content page background */
  --highlight2: #ffffff; /* header text, button text */
}

body  {
  background-color: var(--dark-bg);
}

#root {
  background-color: var(--highlight);
  color: var(--darkest-bg);
}

.App-header {
  background-color: var(--darkest-bg);
  color: var(--highlight2);
}

button  {
  background-color: var(--midlight1);
  color: var(--highlight2);
}
button:hover, button:active  {
  background-color: var(--darkest-bg);
}
textarea  {
  border: 1px solid var(--darkest-bg);
}
/* / colors */

html  {width: 100%;}

html *  {
  position: relative;
}

body  {
  font-family: "Lato", arial, sans-serif;
  font-size: 1em;
  margin: 0 0 60px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  border-radius: .25rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 10px 0;
}

/* Global flexbox styles */
/* .row and .column for children of flex containters*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
/* /Global flexbox styles */




ul  {
  padding: 0;
  list-style: none;
}

th  {
  text-align: start;
}

a   {
  text-decoration: none;
}

#root > h2  {
  text-align: center;
}

/* Any tablet and up adjustments: */
@media only screen and (min-width: 600px) {
  body  {
    margin: 0 20px 60px 20px;
  }
}
/* END resets */