nav {
  display: flex;
  justify-content: space-between;
  background: var(--midlight1);
  margin: 0 -20px;
}

nav a {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.75rem;
  padding: 10px;
  text-transform: uppercase;
}

nav a:hover  {
  background-color: var(--dark-bg);
}

/* React inserts class .active as default, 
but can reset to diff class name in <Navlink> components */
nav a.active {
    background-color: var(--midlight2);
}


/* tablet and up adjustments: */
@media only screen and (min-width: 600px) {
  nav {
    justify-content: flex-start;
  }
}