/**/
.opHeader > div  {
  padding: 10px 0;
  font-weight: bold;
}
.customerData  {
  /*vertical-align: top;*/
  line-height: 1.5rem;
  font-size: .8rem;
  padding: 5px 0 20px 0;
}

.customerData form  {
  align-self: flex-end;
  width: 100%;
  margin-top: 10px;

}
.customerData textarea  {
  display: block;
  margin-bottom: 10px;
  outline: 1px solid #ccc;
  width: 100%;
}

.customerData button  {
  display: block;
  background-color: salmon;
  border-radius: .25rem;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 20px;
}



.opGrid {
  /*display: flex;*/
}
.opHeader, .customerData {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #000;
}
.opHeader > div, .customerData > div {
  flex: 1;
  padding-right: 10px;
}

/* Any tablet and up adjustments: */
@media only screen and (min-width: 600px) {
  .customerData  {
    font-size: 1rem;
  }
}